<div class="row g-0">

    <aside class="col-md-4 col-xl-2 bg-body-tertiary border-end min-vh-100 p-3 shadow-sm">
        <div class="mb-4">
            <h6 class="text-uppercase text-muted fw-semibold small mb-3">
                Personal settings
            </h6>
            <nav class="nav flex-column gap-1">
                <a routerLink="settings"
                   class="nav-link d-flex align-items-center gap-2 rounded px-3 py-2 text-dark hover-bg"
                   routerLinkActive="active sidebar-green-primary-app text-white"
                >
                    <svg lucideCog class="icon-sm"></svg>
                    <span>Settings</span>
                </a>
                @if (this.authService.isLoggedIn()) {
                    <button routerLink="settings"
                            class="nav-link d-flex align-items-center gap-2 rounded px-3 py-2 text-dark hover-bg"
                            routerLinkActive="active sidebar-green-primary-app text-white"
                            (click)="authService.logout()"
                    >
                        <svg lucideLogOut class="icon-sm"></svg>
                        <span>Logout</span>
                    </button>
                }
            </nav>
        </div>

        <div>
            <h6 class="text-uppercase text-muted fw-semibold small mb-3">
                Organization
            </h6>

            @if (!orgsSignal()) {
                <p>No orgs</p>
            } @else {
                @for (org of orgsSignal(); track org.orgId) {
                    <div class="d-flex align-items-center gap-2 px-3 mb-2 small fw-semibold">
                        <svg lucideUsers class="icon-sm"></svg>

                        @for (org of orgsSignal(); track org.orgId) {
                            @if (orgsSignal()?.length == 1) {
                                <a [routerLink]="['/orgs', org.orgId]" class="nav-link text-dark"
                                   routerLinkActive="active sidebar-green-primary-app text-white">
                                    {{ org.name }}
                                </a>
                            } @else if (orgsSignal()?.length === 0) {
                                <p>Create org</p>
                            } @else {
                                <div class="dropdown">
                                    <div class="btn btn-secondary dropdown-toggle" type="button"
                                         data-bs-toggle="dropdown">
                                        Organizations
                                    </div>
                                    <div class="dropdown-menu">
                                        <a [routerLink]="['/orgs', org.orgId]" class="nav-link dropdown-item text-dark"
                                           routerLinkActive="active sidebar-green-primary-app text-white">
                                            {{ org.name }}
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            }
        </div>
    </aside>

    <main class="col-md-8 col-xl-10 min-vh-100 bg-light p-4">
        <router-outlet/>
    </main>

</div>