POSTGRES_USERNAME=username
POSTGRES_PASSWORD=pass
POSTGRES_DB_URL=jdbc:postgresql://localhost:5432/db-name

MONGODB_DB=name
MONGODB_PORT=27017
MONGODB_URI=mongodb://localhost:27017/

JWT_SECRET_KEY=pre-generated-hmac-sha256-key
# 7d
JWT_EXPIRATION_MS=key-expiration-in-ms
# 7d
JWT_REFRESH_TOKEN_EXPIRATION_MS=refresh-token-expiration-in-ms