<div class="d-flex gap-1 flex-column align-items-center justify-content-center overflow-auto"
    cdkDropList
     [cdkDropListData]="cardsContainer()"
     (cdkDropListDropped)="onCardDropped($event)"
>

    <div class="item card border rounded align-items-center justify-content-center"
         (click)="createCard()"
    >
        @if (!isEditing()) {
            {{ cardText() }}
        }
        @if(isEditing()) {
            <div (click)="$event.stopPropagation()" class="d-inline-block w-100" style="max-width: 400px;">
                <div class="input-group shadow-sm">
                    <input [(ngModel)]="draft"
                           (keydown.enter)="isEditing.set(false)"
                           type="text"
                           class="form-control form-control-sm border-secondary-subtle focus-ring focus-ring-primary"
                           placeholder="Edit item..."
                           aria-label="Edit item"/>

                    <button (click)="save()"
                            class="btn btn-sm btn-primary fw-medium px-3 d-flex align-items-center">
                        Save
                    </button>
                </div>
            </div>
        }
    </div>

    @if (cardsContainer() === null) {
        <p>Loading...</p>
    } @else if (cardsContainer()?.length === 0) {

    } @else {
        @for (card of cardsContainer(); track card.id) {
            <app-card [cardSignal]="card"
                      (cardDeleted)="onCardDeleted($event)"
                      cdkDrag
                      [cdkDragData]="card">
            </app-card>
        }
    }

</div>





