<form (submit)="onSubmit($event)" class="bg-white p-4 rounded shadow-sm border mx-auto">

    <h2>Register</h2>

    <div class="mb-3">
        <label class="form-label fw-bold text-secondary small">First name:</label>
        <input [formField]="form.firstName" class="form-control bg-light border-2" />
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold text-secondary small">Last name:</label>
        <input [formField]="form.lastName" class="form-control bg-light border-2" />
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold text-secondary small">Email:</label>
        <input type="email" [formField]="form.email" class="form-control bg-light border-2" />

        @if (form.email().touched() && form.email().invalid()) {
            <ul class="text-danger small mt-1 ps-3">
                @for (error of form.email().errors(); track error) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </div>

    <div class="mb-4">
        <label class="form-label fw-bold text-secondary small">Password:</label>
        <input type="password" [formField]="form.password" class="form-control bg-light border-2" />

        @if (form.password().touched() && form.password().invalid()) {
            <ul class="text-danger small mt-1 ps-3">
                @for (error of form.password().errors(); track error) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </div>

    <button class="btn btn-primary w-100 fw-bold border border-2" type="submit">Register</button>
</form>
