<div class="d-flex flex-row gap-3 align-items-start justify-content-start overflow-auto">

    <div class="item card border rounded align-items-center justify-content-center"
        (click)="createBoard()"
    >
        @if (!isEditing()) {
            {{ listText() }}
        }
        @if (isEditing()) {
            <div (click)="$event.stopPropagation()">
                <input [(ngModel)]="draft" (keydown.enter)="isEditing.set(false)"/>
                <button (click)="save()">Save</button>
            </div>
        }
    </div>

    @if (listsContainer() === null) {
        <p>Loading...</p>
    } @else if (listsContainer()?.length === 0) {
        <p>No boards yet.</p>
    } @else {
        <!-- Obviously change to id later!-->
        @for (list of listsContainer(); track list.id) {
            <div class="item card border rounded align-items-center justify-content-center">
                {{list.title}}
            </div>
        }
    }

</div>