<h1>Cards</h1>

@if (accumulator().length > 0) {
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Card</th>
            <th scope="col">List</th>
            <th scope="col">Board</th>
            <th scope="col">Labels</th>
            <th scope="col">Due</th>
        </tr>
        </thead>
        <tbody>
            @for (data of accumulator(); track data.id) {
                <tr>
                    <td>{{ data.cardTitle }}</td>
                    <td>{{ data.boardListTitle }}</td>
                    <td>{{ data.boardTitle }}</td>
                    <td>
                        @if (data.labels.length) {
                            @for (label of data.labels; track label) {
                                <span>{{ label }}</span>
                            }
                        } @else {
                            <span>None</span>
                        }
                    </td>
                    <td>
                        {{ data.due | date:'mediumDate' }}
                    </td>
                </tr>
            }
        </tbody>
    </table>
} @else {
    <p>Loading...</p>
}